/* ----------------------------- STYLESHEET ----------------------------- */

/* Atributos globales */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	/* overflow: hidden; */
	/* esconde el scroll del navegador */
	font-family: 'MetropolitanoRegular';
	font-weight: normal;
	font-style: normal;
	color: #878787;
	/*  */
	/* width: 100vw;
	height: 100vh; */
	/*  */
}

a:link {
	color: whitesmoke;
}

a:visited {
	color: whitesmoke;
}

a:hover {
	color: #878787;
	transition: 1s;
}

/* ----------------------------- Header ----------------------------- */
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: right;
}

.info {
	display: block;
	text-align: right;
}

.info p {
	display: inline-block;
	margin: 15px;
	color: whitesmoke;
}

/* ----------------------------- Sections ----------------------------- */

.principal-section {
	display: block;
	padding: 0 10px;
}

.fondo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/* background-image: url('../assets/img/fondo.png'); */
	/* background-size: cover; */
	/* background-repeat: no-repeat; */
	background-color: whitesmoke; /*Quitar si luego metes foto*/
	margin: 0 20px 0 20px;
	border-radius: 4px;
	border-style: solid;
	border-color: #ebebeb;
	border-width: 5px;
}

/* Solo para página principal y viewers */
.fondo-inicio {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*  */
	width: auto;
	height: 85vh;
	/*  */
}

/* -- */

/* Solo para la página body-viewer */
.container-viewer {
	background-image: none;
	border-radius: none;
	border-style: none;
}

.container-manipulation {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

/* -- */

/* Sección de la página dataset-viewer.html */
.fondo .section-dataset-viewer {
	padding: 0 10px;
}

.fondo .section-dataset-viewer .datos-formulario {
	/* width: 20%; */
}

/* -- */

.titulo {
	margin: 30px;
	width: 60%;
	height: 50%;
}

.titulo > a {
	width: 100%;
	height: 100%;
	display: flex;
}

.titulo > a:hover {
	transform: scale(1.2);
}

.titulo > a > img {
	width: 100%;
	height: auto;
	align-self: center;
	background-color: white;
	box-shadow: 5px 5px #d0d0d054;
}

.btn-selection {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.btn-selection button {
	margin: 20px 30px;
	padding: 5px 10px;
	width: 240px;
	height: 60px;
	background-color: white;
	border-radius: 4px;
	border-style: solid;
	border-color: #e1e1e1;
	border-width: 5px;
	font-weight: bold;
	color: #d0d0d0;
}

.btn-selection button:hover {
	transform: scale(1.2);
	transition: 1s;
	box-shadow: 5px 5px #e1e1e154;
	color: #878787;
}

.btn-selection a:hover {
	box-shadow: 5px 5px #d0d0d054;
}

/* Solo para página manual-measurements */
.fondo section {
	align-self: center;
	width: 50%;
	height: 100%;
}

/*Estilo contenedor derecho e izquierdo en manual-measurements */
/* .section-left,
.section-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 20px;
	background-color: white;
	height: 100%;
} */

.section-left,
.section-right {
	width: 100%;
	height: 100%;
}

/* Contiene distitnos elementos que se van sucediendo en la aprte derecha de manual-measurements */
.right-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 20px;
	background-color: white;
	height: 100%;
}

/*Estilo contenedor izquierdo*/
.datos-formulario {
	background-color: white;
	margin: 20px;
	border-radius: 12px;
	font-size: 12px;
}

.datos-formulario fieldset {
	padding: 15px;
	border: none;
}

.selectcontainer,
.radiocontainer,
.slidecontainer,
.enviocontainer {
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.selectcontainer label,
.tallacontainer label,
.edadcontainer label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.edadcontainer input {
	margin: 5px;
}

.tabla-medidas {
	display: flex;
	justify-content: center;
	align-items: center;
}

.medidas-horizontales,
.medidas-verticales {
	padding: 10px 20px;
}

.medidas-horizontales p,
.medidas-verticales p {
	padding: 5px;
	text-align: center;
	font-weight: 600;
	color: #878787;
}

/* Estilo desplegable y caja de texto */
/* .custom-radio > input porque .custom-radio:last-child no seleccionaba el último elemento*/
select,
[type='text'] {
	width: 200px;
	min-height: 30px;
	background: whitesmoke;
	border-radius: 3px;
	border: 2px solid #ebebeb;
	outline: none;
	padding: 0 10px;
	cursor: pointer;
	margin: 5px;
	font-size: 12px;
	color: #878787;
}

select option:checked {
	background-color: #d0d0d0;
}

/* Estilo botones selección */
[type='radio'] {
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	appearance: none;
	background: whitesmoke;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	border: 2px solid #ebebeb;
	margin: 5px 0 0 5px;
}

input[type='radio']:checked:before {
	content: '';
	display: block;
	position: relative;
	top: 1px;
	left: 1px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #878787;
}

/* Estilo sliders */
[type='range'] {
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	appearance: none;
	background: whitesmoke;
	width: 160px;
	height: 6px;
	border-radius: 3px;
	outline: none;
	border: 2px solid #ebebeb;
}

[type='range']::-webkit-slider-thumb {
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	appearance: none;
	width: 8px;
	height: 12px;
	background-color: whitesmoke;
	border: 2px solid #ebebeb;
	border-radius: 4px;
}

[type='range']::-webkit-slider-thumb:hover {
	box-shadow: 0 0 0 3px #87878765;
}

[type='range']:active::-webkit-slider-thumb {
	box-shadow: 0 0 0 6px #87878765;
}

/* Estilo botones de envio */
.btn-enviocontainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0 10px 10px 10px;
}

.btn-enviocontainer button {
	margin: 0 15px;
	padding: 5px 10px;
	width: 150px;
	height: 40px;
	background-color: white;
	border-radius: 4px;
	border-style: solid;
	border-color: whitesmoke;
	border-width: 5px;
	font-weight: bold;
	color: #d0d0d0;
}

.btn-enviocontainer button:hover {
	transform: scale(1.2);
	transition: 1s;
	box-shadow: 5px 5px #d0d0d054;
	color: #878787;
}

.result-enviocontainer {
	padding: 0 10px 15px 10px;
	text-align: center;
}

/* Solo para la página manual-measurements cuando se ejecuta pantalla-webcam boton capturar */
#boton-capturar {
	margin: 20px 30px;
	padding: 5px 10px;
	width: 140px;
	height: 40px;
	background-color: white;
	border-radius: 4px;
	border-style: solid;
	border-color: #e1e1e1;
	border-width: 5px;
	font-weight: bold;
	color: #d0d0d0;
	/* position: absolute;
	top: 20px;
	left: 20px;
	z-index: 2; 
	Coloca el botón por encima del elemento inferior */
}

#boton-capturar:hover {
	transform: scale(1.2);
	transition: 1s;
	box-shadow: 5px 5px #e1e1e154;
	color: #878787;
}

/* ----------------------------- Footer ----------------------------- */
footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

footer .rrss {
	width: 50%;
	align-self: center;
	padding: 0 10px 0 10px;
}

.rrss ul {
	padding: 15px 0 0 10px;
}

.rrss ul li {
	float: left;
}

.rrss svg {
	width: 40px;
	height: 40px;
	color: whitesmoke !important;
}

.rrss svg:hover {
	transform: scale(1.2);
	color: #878787 !important;
	transition: 1s;
}

/* Resto propiedades .info establecido en el apartado header*/
footer .info {
	width: 50%;
	align-self: center;
}
